.container.content {
  margin-top: 35px;
}

.about .text-center,
.characters .text-center {
  padding-bottom: 20px;
}

.characters .w-100 {
  margin: 15px 0;
}

.characters .card-text p {
  margin-bottom: 5px;
}

.characters .pagination {
  margin-top: 35px;
}